<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="../public/stile.css"> 
    <style>
      body {
        background-color: #065e72;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    h1{
        color: aqua;
    }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
